In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df = pd.read_csv("../data/household_power_consumption.txt", sep=";", parse_dates=[[0, 1]], na_values='?')

In [45]:
df.head(20)

,Date_Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
8,2006-12-16 17:32:00,3.668,0.510,233.99,15.8,0.0,1.0,17.0
9,2006-12-16 17:33:00,3.662,0.510,233.86,15.8,0.0,2.0,16.0
10,2006-12-16 17:34:00,4.448,0.498,232.86,19.6,0.0,1.0,17.0
11,2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
13,2006-12-16 17:37:00,5.268,0.398,232.91,22.6,0.0,2.0,17.0
14,2006-12-16 17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
15,2006-12-16 17:39:00,3.384,0.282,237.14,14.2,0.0,0.0,17.0
16,2006-12-16 17:40:00,3.270,0.152,236.73,13.8,0.0,0.0,17.0
17,2006-12-16 17:41:00,3.430,0.156,237.06,14.4,0.0,0.0,17.0
18,2006-12-16 17:42:00,3.266,0.000,237.13,13.8,0.0,0.0,18.0
19,2006-12-16 17:43:00,3.728,0.000,235.84,16.4,0.0,0.0,17.0

In [46]:
df.dtypes

Date_Time                datetime64[ns]
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

In [47]:
df[df["Date_Time"]=="2007-4-28 17:24:00"]

,Date_Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
191520,2007-04-28 17:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.info

Date_Time                datetime64[ns]
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

In [52]:
df.to_csv("../data/HEC_processed.csv", index=False)